<div class="intro-card">
  <div class="intro mb-4">
    Hi there! My name is Louis from San Francisco, CA, USA. Been in Tokyo, Japan for about 8 years now.
    I am a Japanese/English bilingual fullstack developer based in Tokyo, Japan, passionate about new technology, business, and music.
    I have experience in the SaaS industry helping companies solve business problems by technology.
    Below are some of my applications I have developed. I am open to talk so please contact me from the form below and I will get back to you!
    I am open to any casual chats so please feel free to contact me.
    <br>
    <br>
    日本語もしゃべれますので、お気軽にご連絡いただければと思います。
  </div>
  <button class="btn btn-info contact-button" onclick="showForm()"> Contact Louis </button>
  <div class="d-flex justify-content-between p-3">
    <div class="skills">
      <h5 style="font-family: 'Libre Franklin', sans-serif;"><strong>Programming Languages</strong></h5>
      <p>Ruby, Ruby on Rails, HTML, CSS, JavaScript, SQL</p>
    </div>
    <div class="education">
      <h5 style="font-family: 'Libre Franklin', sans-serif;"><strong>Education</strong></h5>
      <p>Web Development Intensive Bootcamp - LeWagon Tokyo</p>
      <p>International Studies B.A. - University of California, Irvine</p>
      <p>Music B.A. - University of California, Irvine</p>
    </div>
  </div>
</div>
<%# <button class="btn btn-info contact-button">
    Contact Louis</button>
  <form class="getform d-none" action="https://getform.io/f/0fe3b324-1bdb-4ba1-96d4-a9576c92a643" method="POST">
    <div class="form-group mt-2">
      <input type="text" name="name" class="form-control" placeholder="Name" required=true>
    </div>
    <div class="form-group">
      <input type="email" name="email" class="form-control" placeholder="Email" required=true>
    </div>
    <div class="form-group">
      <textarea type="text" name="message" class="form-control" placeholder="Message..." required=true></textarea>
    </div>
    <button type="submit" class="btn btn-info w-100">Send</button>
  </form>
</div>
<script>
  function myFunction() {
    document.querySelector(".getform").classList.toggle("d-none");
  }
</script> %>
