.contact-button {
  width:50%;
}

.nav-button {
  width:80%;
  font-size: 2em;
  border: solid 1px;
  border: solid 1px;
  border-radius: 4px;
}

.nav-button:hover {
    background-color: grey;
    color:white;
    opacity: 80%;
}

.contact-button {
  width: auto;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}
