.getform {
  z-index: 101;
  padding: 12px;
  background-color: white;
  margin-top: 12px;
  width: 50vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 40vw;
  position: absolute;
  top: 12%;
  border-radius: 4px;
}
