.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sidebar {
  height: 100vh;
  width: 25vw;
  padding: 0px;
  margin-right: 1em;
  background-color: rgba(255,255,255,0.8);
  left: 0;
  top: 0;
  position: sticky;
}

.sidebar h1 {
  color:black;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
  text-shadow: 1px 1px 3px black;
}

.sidebar h5 {
  padding: 12px;
  text-align: center;
  color: black;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  // box-shadow: 3px 3px 10px rgba(53 40 7 0.55);
  z-index: 100;
}

.link {
  padding: 12px;
  text-align: center;
  list-style: none;
}
